*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
}
img{
    max-width: 100%;
    display: block;
}
h1,
h2,
h3,
p{
    margin: 0;
}
section{
    padding: 7em, 0;
}
.container{
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.split{

    display: flex;
    // gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    &> *{
        flex-basis: 33%;
        min-width: 15em;
    }
    
    
}

.spacing>*+* {
    margin-top: var(--spacer, 2rem);
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text,#fff);
    font-weight: 700;
    text-transform: uppercase;
    padding: .5em 1.25em;
    background: var(--clr-accent,blue);
    border-radius: .25em;
    transition: transform 250ms ease-in-out,
    opacity 250ms linear;
}
.btn:hover,
.btn:focus{
    transform: scale(1.1);
    opacity: .9;
}
.primary-title{
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem),4.5rem);
    line-height: 1.1;
    text-transform: uppercase;
}
.section-title{
     text-align: center;
     font-size: clamp(3rem, calc(5vw + 1rem), 4em);
     line-height: 1;
     color: #ca7b15; 
     margin-bottom: 3rem;
}

.hero{
    color: white;
    text-align: center;
    height: 30%;
    padding: 30em , 0;
    background: #222;

    @supports(background-blend-mode: multiply){
        background: url(../project/images/1_img1.jpg),
        radial-gradient(#444,#cf82dc);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
.featured{
    background: #eee;

    &__item {
        display: block;
        position: relative;
        transform: scale(.85);
        transition: tansform 50ms ease-in-out;
        text-decoration: none;
        color: #333;
        line-height: 1.2;

        span{
            display: block;
            font-weight: 700;
            font-size: 2.5rem;
        }

        &:hover,
        &:focus{
            transform: scale(1);
            .featured__details{
                opacity: 1;
            }
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 100;
            padding: 80% 80% 0 0;
            border-radius: 50%;
            background: #2193b2;
            z-index: -1;
        }
    }
    &__details{
        opacity: 0;
        transition: opacity 250ms linear;

        span{
            display: block;
            font-weight: 700;
            font-size: 2.5rem;
        }
    }
}
.product{
    background: radial-gradient(var(--clr-inner, rgb(248, 149, 233)),var(--clr-outer, rgb(202, 246, 132)));
    padding: 3em, 0;
    border-radius: 3em;
    margin-bottom: 5em;
    text-align: center;
    &__title{
        font-size: 4rem;
        color: #fff;
        text-shadow: 0 0 .2em rgba(#000, .2);

    }
    &__image {
        margin: 5em 0 0 5em;
        @media (min-width: 45em){
            text-align: left;

            &__image {
                float: right;
                width:65%;
            
            }
        }
    }
}
.hero{
    -clr-accent: #f34769
}
.CX{
    --clr-inner: #fa7006;
    --clr-outer:orange;
    --clr-accent:#a1173c;
}
.CPC{
    --clr-inner: #fc4867;
    --clr-outer:#eac886;
    --clr-accent:#2f4566;
}
.CPS{
    --clr-inner: #6dd5ed;
    --clr-outer:#2193b0;
    --clr-accent:#008951;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 900;
}